# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# Directories
bin/
out/
build/
Shaders/Compiled/

# IDE and Cache
.vs/
.vscode/
.cache/
.agent/

# External Dependencies
External/*
!External/additional_libs/
!External/additional_libs/**
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Convolution/FileContentIndex/read.lock
.vs/Convolution/v17/.suo
.vs/Convolution/v17/Browse.VC.db
.vscode/tasks.json
External/additional_libs/glsl/glslangd.lib
External/additional_libs/glsl/SPIRV-Tools-opt.lib
External/additional_libs/glsl/SPIRV-Tools-optd.lib
External/additional_libs/glsl/SPIRV-Toolsd.lib
