# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# Directories
bin/
out/
build/
Shaders/Compiled/

# IDE and Cache
.vs/
.vscode/
.cache/
.agent/

# External Dependencies
External/*
!External/additional_libs/
!External/additional_libs/**
External/additional_libs/glsl/glslangd.lib
External/additional_libs/glsl/SPIRV-Tools-opt.lib
External/additional_libs/glsl/SPIRV-Tools-optd.lib
External/additional_libs/glsl/SPIRV-Toolsd.lib
.vs/*
.vscode/*   
.github/copilot-instructions.md
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Convolution/FileContentIndex/read.lock
.vs/Convolution/v17/.suo
.vs/Convolution/v17/Browse.VC.db
.vscode/settings.json
.gitignore
.gitignore
.gitignore
.github/build (Release, Clang)/1_Set up job.txt
.github/build (Release, Clang)/2_Run actions_checkout@v4.txt
.github/build (Release, Clang)/3_Install Vulkan SDK.txt
.github/build (Release, Clang)/4_Configure CMake.txt
.github/build (Release, Clang)/5_Build.txt
.github/build (Release, Clang)/9_Post Install Vulkan SDK.txt
.github/build (Release, Clang)/10_Post Run actions_checkout@v4.txt
.github/build (Release, Clang)/11_Complete job.txt
.github/build (Release, Clang)/system.txt
.github/build (Release, MSVC)/1_Set up job.txt
.github/build (Release, MSVC)/2_Run actions_checkout@v4.txt
.github/build (Release, MSVC)/3_Install Vulkan SDK.txt
.github/build (Release, MSVC)/4_Configure CMake.txt
.github/build (Release, MSVC)/5_Build.txt
.github/build (Release, MSVC)/9_Post Install Vulkan SDK.txt
.github/build (Release, MSVC)/10_Post Run actions_checkout@v4.txt
.github/build (Release, MSVC)/11_Complete job.txt
.github/build (Release, MSVC)/system.txt
.gitignore
.vscode/launch.json
.vscode/settings.json
build*/
.gitignore
